.banner__image {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .banner {
    visibility: hidden;
  }
}
